
.content {
  margin: 82px auto 32px;
  padding: 0 16px;
  min-width: 800px;
  align-items: center;
  min-height: 700px;
}


svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

#background{
  position: fixed;
  bottom: -160px;
  z-index: -10;
  width: 1920px;
}

.ant-affix{
  right:70px;
  width: unset!important;
  left:unset!important;
}

.recharge_div{
  position: absolute;
  margin-left: -265px;
  margin-top: -41px;
  width: 260px;
  height: 260px;
  .ant-carousel {
    text-align: center;
    background: #364d79;
    color: #fff;
    overflow: hidden;
    width: 212px!important;
    height: 212px!important;
    .slick-dots{
      display: none!important;
    }
  }
}

