<!-- <input nz-button type="file" (change)="fileChangeEvent($event)" />
<br />
<br /> -->
<nz-upload
  [(nzFileList)]="fileList"
  [nzBeforeUpload]="beforeUpload"
  >
  <button nz-button><i nz-icon nzType="upload"></i>Select File</button>
</nz-upload>

<nz-button-group>
<button class="rotate-btn" nz-button nzType="primary" nzShape="circle" (click)="rotateLeft()">
  <i nz-icon nzType="rotate-left" style="margin-left: 3px;"></i>
</button>
<button class="rotate-btn" nz-button nzType="primary" nzShape="circle" (click)="rotateRight()">
  <i nz-icon nzType="rotate-right" style="margin-left: -3px;"></i>
</button>
<button class="rotate-btn" nz-button nzType="primary" nzShape="circle" (click)="flipHorizontal()">
  <i nz-icon nzType="swap" nzTheme="outline"></i>
</button>
<button class="rotate-btn" nz-button nzType="primary" nzShape="circle" (click)="flipVertical()">
  <i nz-icon nzType="swap" nzRotate="90" nzTheme="outline" style="margin-top: -2px;"></i>
</button>
<button nz-button nzType="primary" (click)="resetImage()">
  Reset image
</button>

</nz-button-group>
<!-- <button nz-button nzType="primary" nzShape="round" (click)="toggleContainWithinAspectRatio()">{{containWithinAspectRatio?'Fill Aspect Ratio':'Contain Within Aspect Ratio'}}</button> -->

<!-- <br />
<br />
<button (click)="toggleContainWithinAspectRatio()">{{containWithinAspectRatio?'Fill Aspect Ratio':'Contain Within Aspect Ratio'}}</button>
<button (click)="resetImage()">Reset image</button>
<br /> -->
<!-- <br />
<input [(ngModel)]="rotation" placeholder="Rotation" type="number" (keyup)="updateRotation()" /> <button (click)="zoomOut()">Zoom -</button> <button (click)="zoomIn()">Zoom +</button> -->
<br/>
<div class="cropper_div">
    <image-cropper
        [imageFile]="this.fileList[0]"
        [maintainAspectRatio]="true"
        [containWithinAspectRatio]="containWithinAspectRatio"
        [aspectRatio]="1"
        [resizeToWidth]="256"
        [cropperMinWidth]="128"
        [onlyScaleDown]="true"
        [roundCropper]="false"
        [canvasRotation]="canvasRotation"
        [transform]="transform"
        [alignImage]="'left'"
        [style.display]="showCropper ? null : 'none'"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
</div>
<img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />
