button+button{
    margin-left: 10px;
}

.useravatar{
  border: 1px solid rgb(136, 136, 136);
  border-radius: 100px;
  background-color: unset!important;
}
.nickname{
  font-size: 53px;
  top: -16px;
  display: inline-block;
  position: relative;
  line-height: 72px;
  font-weight: 300;
}
.username{
  font-size: 21px;
  top: -16px;
  display: inline-block;
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  margin-left: 4px;
}
.infoList{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 16px;
}
.infoNode{
  margin-right: 40px;
}
.infoNode a{
  color: inherit;
}
.infoValue{
  color: #262626;
  color: rgba(var(--i1d,38,38,38),1);
  font-weight: 600;
}