<!-- 上面 -->
<div nz-row style="margin-bottom: 20px;">
  <div nz-col [nzSpan]="6">
    <nz-avatar
    class="useravatar"
    [nzSize]="150"
    nzSrc="{{userinfo? userinfo.avatar:null}}"
    nzAlt="{{userinfo? userinfo.nickname:null}}"
    nzIcon="user"
    [style]="userinfo? 'background-color:#87d068;':null"
    ></nz-avatar>
  </div>
  <div nz-col [nzSpan]="14">
    <!-- 用户名和网名 -->
    <div class="">
      <span class="nickname">{{userinfo? userinfo.nickName:null}}</span>
      <span class="username" nz-element #username="nzElement">#{{userinfo? userinfo.uid:null}}</span>
      <i nz-icon nzType="question-circle" nzTheme="outline"
        nz-tooltip nzTooltipPlacement="right"nzTooltipTitle="这是你的唯一ID哦" [nzTooltipOrigin]="username.elementRef"
      ></i>
    </div>
    <!-- 个性扣扣签名 -->
    <span class="intro">{{userinfo?userinfo.userintro:null}}</span>
    <!-- 一些信息 -->
    <ul class="infoList">
      <li class="infoNode">
        <span class="infoValue">1</span>
        <span>帖子</span>
      </li>
      <li class="infoNode">
        <a class="" href="/xiao_yao_718/followers/" tabindex="0">
          <span class="infoValue" title="0">NaN</span> 粉丝
        </a>
      </li>
      <li class="infoNode">
        <a class="" href="/xiao_yao_718/following/" tabindex="0">正在关注
          <span class="infoValue ">10</span></a>
      </li>
    </ul>
  </div>
</div>
<!-- tab部分以及下面 -->
<nz-tabset nzSize="large">
  <nz-tab [nzTitle]="titleTemplate1" >
    <ng-template #titleTemplate1> <i nz-icon [nzType]="'instagram'"></i>帖子</ng-template>
    <app-user-topic></app-user-topic>
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate2" >
    <ng-template #titleTemplate2> <i nz-icon [nzType]="'message'"></i>近期消息</ng-template>
    456
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate3" >
    <ng-template #titleTemplate3> <i nz-icon [nzType]="'cloud-server'"></i>云储存详情</ng-template>
    333
  </nz-tab>
  <nz-tab [nzTitle]="titleTemplate4" >
    <ng-template #titleTemplate4> <i nz-icon [nzType]="'user-switch'"></i>游戏数据</ng-template>
    444
  </nz-tab>
</nz-tabset>
