<!-- Toolbar -->
<div class="toolbar" role="banner">
	<div class="content">
		<a class="headLeft" [routerLink]="['/']" >
			<img id="pro_logo_1" width="40" src="../../../../assets/img/catisland_logo_1.svg" />
			<span>CatIsland-象牙塔</span>
		</a>
		<div class="spacer">

		</div>

    <a routerLink="{{ userinfo ? ['/user']:['/auth/login'] }}" title="{{userinfo? '我的':'去登录啊，看什么'}}">
      <nz-avatar  [nzSize]="40" 
                  nzSrc="{{userinfo? userinfo.avatar:null}}" 
                  nzAlt="{{userinfo? userinfo.nickname:null}}"
                  nzIcon="user"
                  ></nz-avatar>
    </a>
  </div>
  
</div>
