.topic-card {
    max-width: 660px;
    width: 100%;
    margin-bottom: 10px;
}
  
.topic-header-image {
    background-size: cover;
}

.btn-icon-like{
    margin-right: 3px;
    margin-top: -2px;
    display: inline-block;
}
.btn-icon-share{
    margin-right: 3px;
    margin-top: -3px;
    display: inline-block;
}