.mat-card-image{
    width: 100%;
    margin:unset;
  }
.mat-card-image:first-child {
margin-top: unset;
border-top-left-radius: inherit;
border-top-right-radius: inherit;
}
  
  
.topic-card {
    max-width: 960px;
    width: 100%;
    margin-bottom: 10px;
    -moz-box-shadow: 2px 4px 9px #888888;
    -webkit-box-shadow: 2px 4px 9px #888888;
    box-shadow: 2px 4px 9px #888888;
}
  
.topic-header-image {
    background-size: cover;
}

.btn-icon-like{
    margin-right: 3px;
    margin-top: -2px;
    display: inline-block;
}
.btn-icon-share{
    margin-right: 3px;
    margin-top: -3px;
    display: inline-block;
}

.swiper-wrapper{
    /* transform: translate3d(0,0,0); */
}
.swiper-slide{
    /* height:100%; */
}