<mat-card *ngFor="let topic of topics" class="topic-card">
    <mat-card-header>
		<div [style.background-image]="'url('+topic.avatarUrl+')'"
			mat-card-avatar class="topic-header-image">
		</div>
		<mat-card-title>{{topic.userName}}</mat-card-title>
		<mat-card-subtitle>{{topic.userIntro}}</mat-card-subtitle>
    </mat-card-header>
      <div class="content-container">
        <swiper [config]="config" class="swiper-container" >
            <div *ngFor="let img of topic.tpcCoverImgs; let index = index" class="swiper-slide cursor-pointer">
                <div >
                    <!-- fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="mx-2" -->
                    <img mat-card-image [src]="img" alt="行吧。。">
                </div>
            </div>
        </swiper>
    </div>

    <mat-card-content>
      <p>{{topic.tpcSummary}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><fa-icon class="btn-icon-like" [icon]="['far','heart']"></fa-icon>喜欢</button>
      <button mat-button><fa-icon class="btn-icon-share" [icon]="['far','share-square']"></fa-icon>分享</button>
    </mat-card-actions>
</mat-card>